*.suo
*.cache
*csproj.user
src/*/bin
src/*/obj
*ReSharper*
output
*.pidb
*.userprefs
test-results
*.gem
*crunch*.xml
*.nupkg
*DotSettings*
*DS_Store
*ncrunch*
*.orig
Shouldly.sln.ide/
packages/
ShouldlyConvention.Tests/obj/
ShouldlyConvention.Tests/bin/
docs/_build/
*.received.cs
src/.vs
*.user
*.received.txt
src/TestResults/
src/TestDiffTools/Main.approved.txt
tools/*
!tools/packages.config
artifacts/
src/*.Tests/report.xml
*.lock.json
*/.vscode
.vscode
src/.idea
src/.idea.*
UpgradeLog*.htm
UpgradeLog*.XML
