###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################
* text=auto

src/.editorconfig text eol=lf working-tree-encoding=UTF-8