image:
  - Visual Studio 2017
  - Ubuntu
assembly_info:
  patch: false

environment:
  APPVEYOR_YML_DISABLE_PS_LINUX: true

platform:
  - Any CPU

configuration:
  - Debug
 
build_script:
  - pwsh: ./build.ps1
  - sh: ./build.sh

test: off
skip_tags: true