image:
  - Visual Studio 2019
  - Ubuntu
# re enable mac build when appveyor is net 5
# https://github.com/shouldly/shouldly/issues/731
#- macos

build_script:
- ps: >-
    dotnet build --configuration Release

    dotnet test --configuration Release --no-build --no-restore

test: off
artifacts:
- path: nugets\*.*nupkg

on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }