<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

    <ComponentGroup Id="Net_1.1_FrameworkGroup">
      <ComponentRef Id="nunit.framework_1.1"/>
      <ComponentRef Id="nunit.mocks_1.1"/>
      <ComponentRef Id="AssemblyReferenceFolder_1.1"/>
    </ComponentGroup>

    <ComponentGroup Id="Net_1.1_CoreGroup">
      <ComponentRef Id="nunit.core_1.1"/>
      <ComponentRef Id="nunit.core.interfaces_1.1"/>
      <ComponentRef Id="nunit.util_1.1"/>
      <ComponentRef Id="Net_1.1_AddinsFolder"/>
    </ComponentGroup>

    <ComponentGroup Id="Net_1.1_ConsoleRunnerGroup">
      <ComponentRef Id="console.exe_1.1"/>
      <ComponentRef Id="console.dll_1.1"/>
      <ComponentRef Id="agent.exe_1.1"/>
    </ComponentGroup>

    <ComponentGroup Id="Net_2.0_FrameworkGroup">
      <ComponentRef Id="nunit.framework_2.0"/>
      <ComponentRef Id="nunit.mocks_2.0"/>
      <ComponentRef Id="AssemblyReferenceFolder_2.0"/>
    </ComponentGroup>

    <ComponentGroup Id="Net_2.0_CoreGroup">
      <ComponentRef Id="nunit.core_2.0"/>
      <ComponentRef Id="nunit.core.interfaces_2.0"/>
      <ComponentRef Id="nunit.util_2.0"/>
      <ComponentRef Id="Net_2.0_AddinsFolder"/>
    </ComponentGroup>

    <ComponentGroup Id="Net_2.0_ConsoleRunnerGroup">
      <ComponentRef Id="console.exe_2.0"/>
      <ComponentRef Id="consolex86.exe"/>
      <ComponentRef Id="console.dll_2.0"/>
      <ComponentRef Id="agent.exe_2.0"/>
      <ComponentRef Id="agentx86.exe"/>
    </ComponentGroup>

    <DirectoryRef Id="net_1.1" FileSource="bin\net-1.1">

      <Component Id="console.exe_1.1" DiskId="1" Guid="DE968C7C-5145-416f-8E85-82E7989CBC83">
        <File Id="console.exe_1.1" Name="CONSOLE.EXE" LongName="nunit-console.exe" />
        <File Id="console.config_1.1" Name="CONSOLE.CFG" LongName="nunit-console.exe.config" />
      </Component>
      
 <!--
      <Component Id="NUnitServer" DiskId="1" Guid="Need Guid">
        <File Id="F__nunit_server_exe" Name="NUS.EXE" LongName="nunit-server.exe" Source="nunit-server.exe" />
        <File Id="F__nunit_test_server_dll" Name="NUNTS.DLL" LongName="nunit-test-server.dll" Source="nunit-test-server.dll" /> 
      </Component>
   -->

      <Component Id="agent.exe_1.1" DiskId="1" Guid="91C3ED1C-16A0-49f1-9FD3-ED72AF060CD6">
        <File Id="agent.exe_1.1" Name="AGENT.EXE" LongName="nunit-agent.exe" />
        <File Id="agent.config_1.1" Name="AGENT.CFG" LongName="nunit-agent.exe.config" />
      </Component>
          	  
    </DirectoryRef>

    <DirectoryRef Id="lib_1.1" FileSource="bin\net-1.1\lib">

      <Component Id="nunit.core_1.1" DiskId="1" Guid="15222234-C43E-4f31-B2C3-E83995627A68">
        <File Id="nunit.core_1.1" Name="CORE.DLL" LongName="nunit.core.dll" />
      </Component>

      <Component Id="nunit.core.interfaces_1.1" DiskId="1" Guid="9D9C1B32-3B31-46bc-B8A2-BF359F69F389">
        <File Id="nunit.core.interfaces_1.1" Name="IFACES.DLL" LongName="nunit.core.interfaces.dll" />
      </Component>

      <Component Id="nunit.util_1.1" DiskId="1" Guid="47D85562-08D1-4312-B4C3-6BFF078A635B">
        <File Id="nunit.util_1.1" Name="UTIL.DLL" LongName="nunit.util.dll" />
      </Component>

      <Component Id="console.dll_1.1" DiskId="1" Guid="DE968C7C-5145-416f-8E85-82E7989CBC83">
        <File Id="console.dll_1.1" Name="CONSOLE.DLL" LongName="nunit-console-runner.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="addins_1.1">

      <Component Id="Net_1.1_AddinsFolder" DiskId="1" Guid="5DBAEF2B-DF1A-4582-9036-1261B3421EE8">
        <CreateFolder />
        <RemoveFile Id="RemoveAddins_1.1" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveAddinFolder_1.1" On="uninstall"/>
      </Component>
    		
    </DirectoryRef>
    	
    <DirectoryRef Id="framework_1.1" FileSource="bin\net-1.1\framework">

      <Component Id="nunit.framework_1.1" DiskId="1" Guid="913D2A45-E701-4f64-A779-D2614B3D322D">
        <File Id="nunit.framework_1.1" Name="FRAMEWRK.DLL" LongName="nunit.framework.dll" />
        <File Id="nunit.framework.xml_net_1.1" Name="FRAMEWRK.XML" LongName="nunit.framework.xml" />
      </Component>

      <Component Id="nunit.mocks_1.1" DiskId="1" Guid="E495EDF2-8A89-4e6c-A59B-D94A7703E22C">
        <File Id="nunit.mocks_1.1" Name="MOCKS.DLL" LongName="nunit.mocks.dll" />
      </Component>

      <Component Id="AssemblyReferenceFolder_1.1" DiskId="1" Guid="DE37BD75-E15B-4df6-8E33-FEDE23AA6DF6">
        
        <Registry Id="Assemblies_1.1" Root="HKMU"
                  Key="Software\Microsoft\.NETFramework\AssemblyFolders\NUnit [ProductVersion]"
                  Action="createKeyAndRemoveKeyOnUninstall">
          <Registry Id="Assemblies_1.1_Default" Action="write" Type="string" Value="[framework_1.1]" />
        </Registry>

      </Component>
        
    </DirectoryRef>
    	
    <DirectoryRef Id="net_2.0" FileSource="bin\net-2.0">

      <Component Id="console.exe_2.0" DiskId="1" Guid="678873A1-D670-455c-B44A-C5C7FC16B4EF">
        <File Id="console.exe_2.0" Name="CONSOLE.EXE" LongName="nunit-console.exe" />
        <File Id="console.config_2.0" Name="CONSOLE.CFG" LongName="nunit-console.exe.config" />
      </Component>
      
      <Component Id="consolex86.exe" DiskId="1" Guid="1243DDA4-E8A0-422d-BD0C-14F1D3EDCFCA">
        <File Id="consolex86.exe" Name="CONSOL86.EXE" LongName="nunit-console-x86.exe" />
        <File Id="consolex86.config" Name="CONSOL86.CFG" LongName="nunit-console-x86.exe.config" />
      </Component>
                
      <Component Id="agent.exe_2.0" DiskId="1" Guid="E0819EB1-2DCE-4648-81CB-0C101ECB0109">
        <File Id="agent.exe_2.0" Name="AGENT.EXE" LongName="nunit-agent.exe" />
        <File Id="agent.config_2.0" Name="AGENT.CFG" LongName="nunit-agent.exe.config" />
      </Component>

      <Component Id="agentx86.exe" DiskId="1" Guid="D2417C51-E283-4d75-BD4D-E47D9A7E64CD">
        <File Id="agentx86.exe" Name="AGENTX86.EXE" LongName="nunit-agent-x86.exe" />
        <File Id="agentx86.config" Name="AGENTX86.CFG" LongName="nunit-agent-x86.exe.config" />
      </Component>
          	  
    </DirectoryRef>

    <DirectoryRef Id="lib_2.0" FileSource="bin\net-2.0\lib">

      <Component Id="nunit.core_2.0" DiskId="1" Guid="4AA0CB6E-27FE-4e9b-B496-E3D7F2AAAC05">
        <File Id="nunit.core_2.0" Name="CORE.DLL" LongName="nunit.core.dll" />
      </Component>
      
      <Component Id="nunit.core.interfaces_2.0" DiskId="1" Guid="A2739889-9EF7-4770-8015-A04D2CFF1A36">
        <File Id="nunit.core.interfaces_2.0" Name="IFACES.DLL" LongName="nunit.core.interfaces.dll" />
      </Component>
      
      <Component Id="nunit.util_2.0" DiskId="1" Guid="78E58FF1-C407-4f23-A989-74C289915D2C">
        <File Id="nunit.util_2.0" Name="UTIL.DLL" LongName="nunit.util.dll" />
      </Component>
      
      <Component Id="console.dll_2.0" DiskId="1" Guid="50CB13FF-AC66-4de9-8BCE-0AAB3E96DE70">
        <File Id="console.dll_2.0" Name="CONSOLE.DLL" LongName="nunit-console-runner.dll" />
      </Component>

    </DirectoryRef>

    <DirectoryRef Id="addins_2.0">
    	
      <Component Id="Net_2.0_AddinsFolder" DiskId="1" Guid="5DBAEF2B-DF1A-4582-9036-1261B3421EE8">
        <CreateFolder />
        <RemoveFile Id="RemoveAddins_2.0" Name="*.*" On="uninstall" />
        <RemoveFolder Id="RemoveAddinFolder_2.0" On="uninstall"/>
      </Component>
    		
    </DirectoryRef>
    	
    <DirectoryRef Id="framework_2.0" FileSource="bin\net-2.0\framework">

      <Component Id="nunit.framework_2.0" DiskId="1" Guid="5654EFF0-F41F-44f4-A13F-33A0D11709EA">
        <File Id="nunit.framework_2.0" Name="FRAMEWRK.DLL" LongName="nunit.framework.dll" />
        <File Id="nunit.framework.xml_2.0" Name="FRAMEWRK.XML" LongName="nunit.framework.xml" />
      </Component>

      <Component Id="nunit.mocks_2.0" DiskId="1" Guid="890C81D4-6423-4863-9EA0-C62DB88AF5BB">
        <File Id="nunit.mocks_2.0" Name="MOCKS.DLL" LongName="nunit.mocks.dll" />
      </Component>

      <Component Id="AssemblyReferenceFolder_2.0" DiskId="1" Guid="65AB502C-FC28-4c85-AF32-15384D5050FF">
        <Registry Id="R__Assemblies_2.0" Root="HKMU"
                  Key="Software\Microsoft\.NETFramework\v2.0.50727\AssemblyFoldersEx\NUnit [ProductVersion]"
                  Action="createKeyAndRemoveKeyOnUninstall">

          <Registry Id="R__Assemblies_2.0_Default" Action="write" Type="string" Value="[framework_2.0]" />
        </Registry>
      </Component>

    </DirectoryRef>
  	
  </Fragment>
</Wix>