<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
  <Fragment>

	<ComponentGroup Id="DocumentationComponents">  
		<ComponentRef Id="HtmlDocs" />
		<ComponentRef Id="DocFiles" />
		<ComponentRef Id="DocImages" />
	</ComponentGroup>
	
    <DirectoryRef Id="doc" FileSource="doc">
    
      <Component Id="HtmlDocs" DiskId="1" Guid="6d9faf90-1ff2-11db-a98b-0800200c9a66">
        <File Id="nunit.css" Name="nunit.css" />
        <File Id="codeFuncs.js" Name="CODEFNCS.JS" LongName="codeFuncs.js" />
        <File Id="favicon.ico" Name="favicon.ico" />
        <File Id="addinsDialog.html" Name="ADDINDLG.HTM" LongName="addinsDialog.html" />
        <File Id="assemblyIsolation.html" Name="ASMISLTN.HTM" LongName="assemblyIsolation.html" />
        <File Id="assertions.html" Name="ASSERT_1.HTM" LongName="assertions.html" />
        <File Id="attributes.html" Name="ATTRIB_1.HTM" LongName="attributes.html" />
        <File Id="category.html" Name="CATEGO_1.HTM" LongName="category.html" />
        <File Id="collectionAssert.html" Name="COLLEC_1.HTM" LongName="collectionAssert.html" />
        <File Id="collectionConstraints.html" Name="COLLEC_2.HTM" LongName="collectionConstraints.html" />
        <File Id="combinatorial.html" Name="COMBINAT.HTM" LongName="combinatorial.html" />
        <File Id="comparisonAsserts.html" Name="COMPAR_1.HTM" LongName="comparisonAsserts.html" />
        <File Id="comparisonConstraints.html" Name="COMPAR_2.HTM" LongName="comparisonConstraints.html" />
        <File Id="compoundConstraints.html" Name="COMPOUND.HTM" LongName="compoundConstraints.html" />
        <File Id="conditionAsserts.html" Name="CONDIT_1.HTM" LongName="conditionAsserts.html" />
        <File Id="conditionConstraints.html" Name="CONDIT_2.HTM" LongName="conditionConstraints.html" />
        <File Id="configEditor.html" Name="CONFIG_1.HTM" LongName="configEditor.html" />
        <File Id="configFiles.html" Name="CONFIG_2.HTM" LongName="configFiles.html" />
        <File Id="consoleCommandLine.html" Name="CONSOL_1.HTM" LongName="consoleCommandLine.html" />
        <File Id="constraintModel.html" Name="CON_MODL.HTM" LongName="constraintModel.html" />
        <File Id="contextMenu.html" Name="CONTEX_1.HTM" LongName="contextMenu.html" />
        <File Id="culture.html" Name="CULTURE.HTM" LongName="culture.html" />
        <File Id="customConstraints.html" Name="CUSTOM_2.HTM" LongName="customConstraints.html" />
        <File Id="datapoint.html" Name="DATAPNT.HTM" LongName="datapoint.html" />
        <File Id="datapointProviders.html" Name="DPNTPROV.HTM" LongName="datapointProviders.html" />
        <File Id="delayedConstraint.html" Name="DELAYED.HTM" LongName="delayedConstraint.html" />
        <File Id="description.html" Name="DESCRIP.HTM" LongName="description.html" />
        <File Id="directoryAssert.html" Name="DIRASSRT.HTM" LongName="directoryAssert.html" />
        <File Id="equalConstraint.html" Name="EQUALCON.HTM" LongName="equalConstraint.html" />
        <File Id="equalityAsserts.html" Name="EQUALI_1.HTM" LongName="equalityAsserts.html" />
        <File Id="eventListeners.html" Name="LISTNERS.HTM" LongName="eventListeners.html" />
        <File Id="exception.html" Name="EXCEPT_1.HTM" LongName="exception.html" />
        <File Id="exceptionAsserts.html" Name="EXCEPT_2.HTM" LongName="exceptionAsserts.html" />
        <File Id="explicit.html" Name="EXPLIC_1.HTM" LongName="explicit.html" />
        <File Id="extensibility.html" Name="EXTENSBL.HTM" LongName="extensibility.html" />
        <File Id="extensionTips.html" Name="DATAPNT.HTM" LongName="extensionTips.html" />
        <File Id="fileAssert.html" Name="FILEAS_1.HTM" LongName="fileAssert.html" />
        <File Id="fixtureSetup.html" Name="FIXTUR_1.HTM" LongName="fixtureSetup.html" />
        <File Id="fixtureTeardown.html" Name="FIXTUR_2.HTM" LongName="fixtureTeardown.html" />
        <File Id="getStarted.html" Name="GETSTA_1.HTM" LongName="getStarted.html" />
        <File Id="guiCommandLine.html" Name="GUICOM_1.HTM" LongName="guiCommandLine.html" />
        <File Id="identityAsserts" Name="IDENTI_1.HTM" LongName="identityAsserts.html" />
        <File Id="ignore.html" Name="IGNORE_1.HTM" LongName="ignore.html" />
        <File Id="index.html" Name="INDEX_1.HTM" LongName="index.html" >
          <Shortcut Id="S__docs" Directory="NUnitMenu" Name="SDOCS" 
              LongName="Documentation" Show="normal" WorkingDirectory="D__doc" />
        </File>
        <File Id="installation.html" Name="INSTAL_1.HTM" LongName="installation.html" />
        <File Id="license.html" Name="LICENS_1.HTM" LongName="license.html" />
        <File Id="listMapper.html" Name="LISTMAP.HTM" LongName="listMapper.html" />
        <File Id="mainMenu.html" Name="MAINME_1.HTM" LongName="mainMenu.html" />
        <File Id="maxtime.html" Name="MAXTIME.HTM" LongName="maxtime.html" />
        <File Id="multiAssembly.html" Name="MULTIA_1.HTM" LongName="multiAssembly.html" />
        <File Id="nunit_console.html" Name="NUNIT-_1.HTM" LongName="nunit-console.html" />
        <File Id="nunit_gui.html" Name="NUNIT-_2.HTM" LongName="nunit-gui.html" />
        <File Id="nunitAddins.html" Name="ADDINS.HTM" LongName="nunitAddins.html" />
        <File Id="pairwise.html" Name="PAIRWISE.HTM" LongName="pairwise.html" />
        <File Id="parameterizedTests.html" Name="PARMTSTS.HTM" LongName="parameterizedTests.html" />
        <File Id="pathConstraints.html" Name="PATHCNST.HTM" LongName="pathConstraints.html" />
        <File Id="platform.html" Name="PLATFO_1.HTM" LongName="platform.html" />
        <File Id="pnunit.html" Name="PNUNIT.HTM" LongName="pnunit.html" />
        <File Id="projectEditor.html" Name="PROJEC_1.HTM" LongName="projectEditor.html" />
        <File Id="property.html" Name="PROPER_1.HTM" LongName="property.html" />
        <File Id="propertyConstraint.html" Name="PROPER_2.HTM" LongName="propertyConstraint.html" />
        <File Id="quickstart.html" Name="QUICKS_1.HTM" LongName="quickStart.html" />
        <File Id="random.html" Name="RANDOM.HTM" LongName="random.html" />
        <File Id="range.html" Name="RANGE.HTM" LongName="range.html" />
        <File Id="releaseNotes.html" Name="RELNOTES.HTM" LongName="releaseNotes.html" />
        <File Id="releaseDetail.html" Name="RELDTAIL.HTM" LongName="releaseDetail.html" />
        <File Id="repeat.html" Name="REPEAT.HTM" LongName="repeat.html" />
        <File Id="requiredAddin.html" Name="REQADDIN.HTM" LongName="requiredAddin.html" />
        <File Id="requiresMTA.html" Name="REQMTA.HTM" LongName="requiresMTA.html" />
        <File Id="requiresSTA.html" Name="REQSTA.HTM" LongName="requiresSTA.html" />
        <File Id="requiresThread.html" Name="REQTHRD.HTM" LongName="requiresThread.html" />
        <File Id="reusableConstraint.html" Name="REUSABLE.HTM" LongName="reusableConstraint.html" />
        <File Id="runningTests.html" Name="RUNTESTS.HTM" LongName="runningTests.html" />
        <File Id="runtimeSelection.html" Name="RUNTIME.HTM" LongName="runtimeSelection.html" />
        <File Id="sameasConstraint.html" Name="SAMEAS.HTM" LongName="sameasConstraint.html" />
        <File Id="samples.html" Name="SAMPLE_1.HTM" LongName="samples.html" />
        <File Id="sequential.html" Name="SEQUENTL.HTM" LongName="sequential.html" />
        <File Id="setCulture.html" Name="SETCULTR.HTM" LongName="setCulture.html" />
        <File Id="settingsDialog.html" Name="SETTINGS.HTM" LongName="settingsDialog.html" />
        <File Id="setup.html" Name="SETUP_1.HTM" LongName="setup.html" />
        <File Id="setupFixture.html" Name="SETUPF_1.HTM" LongName="setupFixture.html" />
        <File Id="stringAssert.html" Name="STRING_1.HTM" LongName="stringAssert.html" />
        <File Id="stringConstraints.html" Name="STRING_2.HTM" LongName="stringConstraints.html" />
        <File Id="suite.html" Name="SUITE_1.HTM" LongName="suite.html" />
        <File Id="suiteBuilders.html" Name="SBUILDRS.HTM" LongName="suiteBuilders.html" />
        <File Id="teardown.html" Name="TEARDO_1.HTM" LongName="teardown.html" />
        <File Id="test.html" Name="TEST.HTM" LongName="test.html" />
        <File Id="testCase.html" Name="TESTCASE.HTM" LongName="testCase.html" />
        <File Id="testcaseBuilders.html" Name="TBUILDRS.HTM" LongName="testcaseBuilders.html" />
        <File Id="testcaseProviders.html" Name="TCPRVDRS.HTM" LongName="testcaseProviders.html" />
        <File Id="testCaseSource.html" Name="TCSOURCE.HTM" LongName="testCaseSource.html" />
        <File Id="testDecorators.html" Name="DCORATRS.HTM" LongName="testDecorators.html" />
        <File Id="testFixture.html" Name="TESTFI_1.HTM" LongName="testFixture.html" />
        <File Id="testProperties.html" Name="TESTPR_1.HTM" LongName="testProperties.html" />
        <File Id="theory.html" Name="THEORY.HTM" LongName="theory.html" />
        <File Id="throwsConstraint.html" Name="THRWSCON.HTM" LongName="throwsConstraint.html" />
        <File Id="timeout.html" Name="TIMEOUT.HTM" LongName="timeout.html" />
        <File Id="typeAsserts.html" Name="TYPEAS_1.HTM" LongName="typeAsserts.html" />
        <File Id="typeConstraints.html" Name="TYPECON.HTM" LongName="typeConstraints.html" />
        <File Id="upgrade.html" Name="UPGRAD_1.HTM" LongName="upgrade.html" />
        <File Id="utilityAsserts.html" Name="UTILIT_1.HTM" LongName="utilityAsserts.html" />
        <File Id="values.html" Name="VALUES.HTM" LongName="values.html" />
        <File Id="valueSource.html" Name="VALUESRC.HTM" LongName="valueSource.html" />
        <File Id="vsSupport.html" Name="VSSUPPRT.HTM" LongName="vsSupport.html" />
	    <RemoveFile Id="RemoveThumbnails_Doc" Name="*" On="uninstall" />
      </Component>
    </DirectoryRef>
		
    <DirectoryRef Id="files" FileSource="doc\files" >
      <Component Id="DocFiles" DiskId="1" Guid="757c2ae0-1ff2-11db-a98b-0800200c9a66">
        <File Id="F__doc_file70" Name="QUICKS_2.DOC" LongName="QuickStart.doc" />
        <File Id="F__doc_file71" Name="QUICKS_1.DOC" LongName="QuickStart.Spanish.doc" />
        <File Id="F__doc_file72" Name="Results.xsd" />
        <File Id="F__doc_file73" Name="SUMMAR_1.XSL" LongName="Summary.xslt" />
        <File Id="F__doc_file75" Name="TESTRE_1.XML" LongName="TestResult.xml" />
        <RemoveFile Id="RemoveThumbnails_Doc_Files" Name="*" On="uninstall" />
      </Component>
    </DirectoryRef>
		
    <DirectoryRef Id="img" FileSource="doc\img">
      <Component Id="DocImages" DiskId="1" Guid="7bb6dd10-1ff2-11db-a98b-0800200c9a66">
        <File Id="addinsDialog.jpg" Name="ADDINDLG.JPG" LongName="addinsDialog.jpg" />
        <File Id="F__doc_file83" Name="ASSEMB_1.JPG" LongName="assembliesTab.jpg" />
        <File Id="F__doc_file84" Name="BULLET_1.GIF" LongName="bulletOff.gif" />
        <File Id="F__doc_file85" Name="bulletOn.gif" />
        <File Id="F__doc_file86" Name="CONFIG_1.JPG" LongName="configEditor.jpg" />
        <File Id="F__doc_file87" Name="CONSOL_1.JPG" LongName="console-mock.jpg" />
        <File Id="F__doc_file89" Name="GENERA_1.JPG" LongName="generalTab.jpg" />
        <File Id="F__doc_file90" Name="GUI-SC_1.JPG" LongName="gui-screenshot.jpg" />
        <File Id="F__doc_file91" Name="GUI-VE_1.JPG" LongName="gui-verify.jpg" />
        <File Id="F__doc_file93" Name="LANGFI_1.GIF" LongName="langFilter.gif" />
        <File Id="F__doc_file94" Name="logo.gif" />
        <File Id="F__doc_file96" Name="miniGui.jpg" />
        <File Id="F__doc_file97" Name="OPTION_1.JPG" LongName="optionsDialog.jpg" />
        <File Id="F__doc_file103" Name="TESTPR_1.JPG" LongName="testProperties.jpg" />
        <File Id="generalOptions.jpg" Name="GENOPTS.JPG" LongName="generalOptions.jpg" />
        <File Id="testOutputOptions.jpg" Name="OUTOPTS.JPG" LongName="testOutputOptions.jpg" />
        <File Id="testLoadOptions.jpg" Name="LOADOPTS.JPG" LongName="testLoadOptions.jpg" />
        <File Id="advancedSettings.jpg" Name="ADVANCED.JPG" LongName="advancedSettings.jpg" />
        <File Id="assemblyReloadSettings.jpg" Name="ASRELOAD.JPG" LongName="assemblyReloadSettings.jpg" />
        <File Id="displayTab.jpg" Name="DSPLYTAB.JPG" LongName="displayTab.jpg" />
        <File Id="generalSettings.jpg" Name="GENERAL.JPG" LongName="generalSettings.jpg" />
        <File Id="resultTab.jpg" Name="RSLTTAB.JPG" LongName="resultTab.jpg" />
        <File Id="testLoadSettings.jpg" Name="TESTLOAD.JPG" LongName="testLoadSettings.jpg" />
        <File Id="testOutputSettings.jpg" Name="TESTOTPT.JPG" LongName="testOutputSettings.jpg" />
        <File Id="testResultSettings.jpg" Name="TESTRSLT.JPG" LongName="testResultSettings.jpg" />
        <File Id="textOutputSettings.jpg" Name="TEXTOTPT.JPG" LongName="textOutputSettings.jpg" />
        <File Id="treeDisplaySettings.jpg" Name="TREEDISP.JPG" LongName="treeDisplaySettings.jpg" />
        <File Id="visualStudioSettings.jpg" Name="VSTUDIO.JPG" LongName="visualStudioSettings.jpg" />
        <RemoveFile Id="RemoveThumbnails_Doc_Img" Name="*" On="uninstall" />
      </Component>
    </DirectoryRef>
	
  </Fragment>
</Wix>