<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">

  <Product UpgradeCode="009074FF-2CEC-4b0c-9951-B07186F9ED3A"
           Name="NUnit $(var.NominalVersion)"
	   Id="EFD31E4F-4EDA-4758-AAA7-8E625BA76A48"
           Version="$(var.ProductVersion)"
           Manufacturer="nunit.org"
           Language="1033">

    <Package Id="????????-????-????-????-????????????"
             Comments="NUnit $(var.ProductVersion)"
		         Manufacturer="nunit.org"
             InstallerVersion="200"
             Platforms="Intel"
		         Languages="1033"
             Compressed="yes"
             SummaryCodepage="1252" />

    <!-- ***************************************************************** -->
    <!-- **********  Define Properties used in the install      ********** -->
    <!-- ***************************************************************** -->

    <Property Id="FRAMEWORK10">
      <RegistrySearch Id='Framework10Registry' Type='raw' Root='HKLM'
                      Key='Software\Microsoft\.NETFramework\policy\v1.0' Name='3705' />
    </Property>

    <Property Id="FRAMEWORK11">
      <RegistrySearch Id='Framework11Registry' Type='raw' Root='HKLM'
                      Key='Software\Microsoft\.NETFramework\policy\v1.1' Name='4322' />
    </Property>

    <Property Id="FRAMEWORK20">
      <RegistrySearch Id='Framework20Registry' Type='raw' Root='HKLM'
                      Key='Software\Microsoft\.NETFramework\policy\v2.0' Name='50727' />
    </Property>

    <Property Id="MONODEFAULTCLR">
      <RegistrySearch Id="MonoDefaultClr" Type='raw' Root='HKLM'
                      Key='Software\Novell\Mono' Name='DefaultCLR' />
    </Property>

    <Property Id="MONODIRECTORY">
      <RegistrySearch Id="MonoDirectory" Type='directory' Root='HKLM'
                      Key='Software\Novell\Mono\[MONODEFAULTCLR]' Name='SDKInstallRoot' />
    </Property>

    <Property Id="CMD_EXE" Value="[!SystemFolder]cmd.exe"/>

    <!-- ***************************************************************** -->
    <!-- *********  Properties for the Add Remove Programs list  ********* -->
    <!-- ***************************************************************** -->

    <Property Id="ARPCONTACT" Value="Charlie Poole" />
    <Property Id='ARPPRODUCTICON' Value='nunit_icon.exe'/>
    <Property Id="ARPHELPLINK" Value="http://lists.sourceforge.net/lists/listinfo/nunit-users" />
    <Property Id="ARPREADME" Value="http://nunit.org/?p=releaseNotes&amp;r=2.5" />
    <Property Id="ARPURLINFOABOUT" Value="NUnit is a testing framework for all .NET languages" />
    <Property Id="ARPURLUPDATEINFO" Value="http://nunit.org?p=download" />


    <!-- ***************************************************************** -->
    <!-- **********       Define Directory Structure            ********** -->
    <!-- ***************************************************************** -->

    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id='ProgramFilesFolder' Name='PFiles'>

        <!-- Target locations for NUnit Files -->
        <Directory Id='INSTALLDIR' Name='NUnit' LongName="NUnit $(var.NominalVersion)">

          <Directory Id='bin' Name='bin'>

            <Directory Id='net_1.1' Name='net-1.1'>
              <Directory Id='lib_1.1' Name='lib' />
              <Directory Id='addins_1.1' Name='addins' />
              <Directory Id='tests_1.1' Name='tests' />
              <Directory Id='framework_1.1' Name='FRAMEWK' LongName='framework' />
            </Directory>

            <Directory Id='net_2.0' Name='net-2.0'>
              <Directory Id='lib_2.0' Name='lib' />
              <Directory Id='addins_2.0' Name='addins' />
              <Directory Id='tests_2.0' Name='tests' />
              <Directory Id='framework_2.0' Name='FRAMEWK' LongName='framework' />
            </Directory>

          </Directory>

          <Directory Id='doc' Name='doc'>
            <Directory Id='files' Name='files' />
            <Directory Id='img' Name='img' />
          </Directory>

          <Directory Id='samples' Name='samples'>
            <Directory Id='csharp' Name='csharp' />
            <Directory Id='jsharp' Name='jsharp' />
            <Directory Id='vb' Name='vb' />
            <Directory Id='cpp' Name='cpp' />
            <Directory Id='extensibility' Name='EXTENSIB' LongName='Extensibility' />
          </Directory>

        </Directory>

      </Directory>

      <!-- Desktop Folder Directory for our Desktop Shortcut -->
      <Directory Id="DesktopFolder" Name="." SourceName="DESKTOP" LongSource="User's Desktop" />

      <!-- Program Menu Folder and our subfolders for Shortcuts -->
      <Directory Id="ProgramMenuFolder" Name="." SourceName="PROGRAMS" LongSource="User's Program Menu">
        <Directory Id="NUnitMenu" Name="NUnit" LongName="NUnit $(var.NominalVersion)" >
          <Directory Id="RunUnderMenu" Name="RunUnder" LongName="Select Runtime" />
          <Directory Id="SamplesMenu" Name="Samples" />
        </Directory>
      </Directory>

    </Directory>


    <!-- ***************************************************************** -->
    <!-- **********      Define the NUnit feature tree          ********** -->
    <!-- ***************************************************************** -->

    <Feature Id="TopLevelFeature" ConfigurableDirectory="INSTALLDIR"
		         Level="1" Title="NUnit $(var.NominalVersion)" Display='expand'
		         Description="Installs NUnit with all selected components">

      <!-- Defined below -->
      <ComponentRef Id="C__LICENSE" />
      <ComponentRef Id="C__FIT_LICENSE" />
      <ComponentRef Id="C__LOGO" />
      <ComponentRef Id="InstallationRegistryEntry"/>

      <Feature Id="Net_2.0_BaseFeature" Title="Base Level Support" Level="0" Display="collapse"
			         Description="NUnit assemblies required to write and run tests under .NET 2.0.">
        <Condition Level="1">FRAMEWORK20 = "50727-50727" OR MONODIRECTORY</Condition>

        <ComponentGroupRef Id="Net_2.0_FrameworkGroup"/>
        <ComponentGroupRef Id="Net_2.0_CoreGroup"/>
        <ComponentGroupRef Id="Net_2.0_ConsoleRunnerGroup" />

      </Feature>

      <Feature Id="Net_2.0_GuiRunner" Level="1" Title='Gui Runner' Display='expand'
				         Description="Installs NUnit Windows GUI runner for .NET 2.0">

        <ComponentGroupRef Id="Net_2.0_FrameworkGroup"/>
        <ComponentGroupRef Id="Net_2.0_CoreGroup"/>
        <ComponentGroupRef Id="Net_2.0_GuiRunnerGroup"/>

      </Feature>

      <Feature Id="Net_2.0_PNunitRunner" Level="10" Title='PNUnit Runner' Display='expand'
               Description="Installs the PNUnit runner for parallel distributed tests">

        <ComponentGroupRef Id="Net_2.0_FrameworkGroup"/>
        <ComponentGroupRef Id="Net_2.0_CoreGroup"/>
        <ComponentGroupRef Id="pnunit_2.0"/>

      </Feature>

      <Feature Id="Net_2.0_TestsFeature" Level="10" Title='Unit Tests' Display='expand'
				         Description='Unit tests for NUnit under .NET 1.1'>

        <ComponentGroupRef Id="Net_2.0_TestsGroup" />

      </Feature>

      <Feature Id="Net_1.1_BaseFeature" Level="10" Title=".NET 1.1 Support" Display="collapse"
			         Description="NUnit assemblies required to write and run tests under .NET 1.1.">
        <!--<Condition Level="1">FRAMEWORK10 = "3321-3705" OR FRAMEWORK11 = "3706-4322" OR MONODIRECTORY</Condition>-->

        <Feature Id="Net_1.1_Framework"	Level="10" Title="Framework Assemblies" Display="expand"
				         Description = "Assemblies referenced by user tests">

          <ComponentGroupRef Id="Net_1.1_FrameworkGroup" />

        </Feature>

        <Feature Id="Net_1.1_ConsoleRunner" Level="10" Title="Console Runner" Display="expand"
				         Description="Installs NUnit console runner for .NET 1.1">

          <ComponentGroupRef Id="Net_1.1_FrameworkGroup"/>
          <ComponentGroupRef Id="Net_1.1_CoreGroup"/>
          <ComponentGroupRef Id="Net_1.1_ConsoleRunnerGroup" />

        </Feature>

        <Feature Id="Net_1.1_PNUnitRunner" Level="10" Title='PNUnit Runner' Display='expand'
                 Description="Installs the PNUnit runner for parallel distributed tests">

          <ComponentGroupRef Id="pnunit_1.1"/>

        </Feature>

        <Feature Id="Net_1.1_TestsFeature" Level="10" Title='Unit Tests' Display='expand'
				         Description='Unit tests for NUnit under .NET 1.1' >

          <ComponentGroupRef Id="Net_1.1_TestsGroup" />

        </Feature>

      </Feature>

      <Feature Id="DocumentationFeature" Level="1" Title='Documentation' Display='expand'
			         Description="HTML documentation for NUNit">

        <ComponentGroupRef Id="DocumentationComponents"/>

      </Feature>


      <!-- Defined in samples.wxs -->
      <Feature Id="SamplesFeature" Level="1" Title='Samples' Display='expand'
               Description='Sample code showing the use of NUnit' >

        <ComponentGroupRef Id="SampleComponents"/>

      </Feature>

    </Feature>

    <!-- The NUnit files are all in a single cab file that is embedded in the MSI -->
    <Media Id="1" EmbedCab="yes" Cabinet="nunit.cab" />

    <!-- ***************************************************************** -->
    <!-- **********  Define our GUI using standard WiX UI       ********** -->
    <!-- ***************************************************************** -->

    <UIRef Id="WixUI_Mondo" />
    <!--<UIRef Id="WixUI_FeatureTree" />-->
    <UIRef Id="WixUI_ErrorProgressText" />

    <!-- ***************************************************************** -->
    <!-- **********       Define Top-level Components           ********** -->
    <!-- ***************************************************************** -->

    <DirectoryRef Id="INSTALLDIR">

      <Component Id="C__LOGO" Guid="99080421-75CC-4DFC-0987-AA16B7E68659">
        <File Id="_LOGO" Name="Logo.ico" Source="Logo.ico" Vital="yes" KeyPath="yes" DiskId="1" />
        <RemoveFile Id="RemoveThumbnails" Name="*" On="uninstall" />
      </Component>

      <Component Id="C__LICENSE" Guid="7D03AE6B-15A7-16E0-0D21-D65708B2FA79">
        <File Id="_LICENSE" Name="license.txt" Source="license.txt" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>

      <Component Id="C__FIT_LICENSE" Guid="6C47563D-CDCD-4a65-BD89-A37F3A3C681D">
        <File Id="fit_license.txt" Name="FITLICNS.TXT" LongName="fit-license.txt"
              Source="fit-license.txt" Vital="yes" KeyPath="yes" DiskId="1" />
      </Component>

      <Component Id="InstallationRegistryEntry" Guid="FD139082-C1B1-46be-AA70-BA970EBDF397">

        <Registry Id="R__INSTALLDIR" Root="HKMU"
                  Key="Software\[Manufacturer]\NUnit\$(var.NominalVersion)"
                  Name="InstallDir" Action="write" Type="string" Value="[INSTALLDIR]" />

        <Registry Id="R__ProductVersion" Root="HKMU"
                  Key="Software\[Manufacturer]\NUnit\$(var.NominalVersion)"
                  Name="ProductVersion" Action="write" Type="string" Value="[ProductVersion]" />

      </Component>

    </DirectoryRef>

  </Product>
</Wix>