[*.cs]
indent_style = space
indent_size = 4

# CA1018: Mark attributes with AttributeUsageAttribute
dotnet_diagnostic.CA1018.severity = warning

# CA1825: Avoid zero-length array allocations
dotnet_diagnostic.CA1825.severity = warning

# CA2208: Instantiate argument exceptions correctly
dotnet_diagnostic.CA2208.severity = warning

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = warning

# CA1310: Specify StringComparison for correctness
dotnet_diagnostic.CA1310.severity = warning

# Opt in to StyleCop rules, not out
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.DocumentationRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.LayoutRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.MaintainabilityRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.NamingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.OrderingRules.severity = none
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.ReadabilityRules.severity = none

# Opt in to rules for things we’d prefer to have but not prefer to surprise people with at PR time
dotnet_analyzer_diagnostic.category-StyleCop.CSharp.SpacingRules.severity = warning
dotnet_diagnostic.SA1100.severity = warning # Do not prefix calls with base unless local implementation exists
dotnet_diagnostic.SA1102.severity = warning # Query clause should follow previous clause
dotnet_diagnostic.SA1103.severity = warning # Query clauses should be on separate lines or all on one line
dotnet_diagnostic.SA1104.severity = warning # Query clause should begin on new line when previous clause spans multiple lines
dotnet_diagnostic.SA1105.severity = warning # Query clauses spanning multiple lines should begin on own line
dotnet_diagnostic.SA1106.severity = warning # Code should not contain empty statements
dotnet_diagnostic.SA1108.severity = warning # Block statements should not contain embedded comments
dotnet_diagnostic.SA1109.severity = warning # Block statements should not contain embedded regions
dotnet_diagnostic.SA1110.severity = warning # Opening parenthesis or bracket should be on declaration line
dotnet_diagnostic.SA1111.severity = warning # Closing parenthesis should be on line of last parameter
dotnet_diagnostic.SA1112.severity = warning # Closing parenthesis should be on line of opening parenthesis
dotnet_diagnostic.SA1113.severity = warning # Comma should be on the same line as previous parameter
dotnet_diagnostic.SA1114.severity = warning # Parameter list should follow declaration
dotnet_diagnostic.SA1120.severity = warning # Comments should contain text
dotnet_diagnostic.SA1121.severity = warning # Use built-in type alias
dotnet_diagnostic.SA1125.severity = warning # Use shorthand for nullable types
dotnet_diagnostic.SA1130.severity = warning # Use lambda syntax
dotnet_diagnostic.SA1131.severity = warning # Use readable conditions
dotnet_diagnostic.SA1139.severity = warning # Use literal suffix notation instead of casting
dotnet_diagnostic.SA1141.severity = warning # Use tuple syntax
dotnet_diagnostic.SA1142.severity = warning # Refer to tuple fields by name
dotnet_diagnostic.SA1206.severity = warning # Declaration keywords should follow order
dotnet_diagnostic.SA1207.severity = warning # Protected should come before internal
dotnet_diagnostic.SA1210.severity = warning # Using directives should be ordered alphabetically by namespace
dotnet_diagnostic.SA1211.severity = warning # Using alias directives should be ordered alphabetically by alias name
dotnet_diagnostic.SA1212.severity = warning # Property accessors should follow order
dotnet_diagnostic.SA1213.severity = warning # Event accessors should follow order
dotnet_diagnostic.SA1216.severity = warning # Using static directives should be placed at the correct location
dotnet_diagnostic.SA1217.severity = warning # All using static directives should be ordered alphabetically.
dotnet_diagnostic.SA1400.severity = warning # Access modifier should be declared
dotnet_diagnostic.SA1409.severity = warning # Remove unnecessary code
dotnet_diagnostic.SA1411.severity = warning # Attribute constructor should not use unnecessary parenthesis
dotnet_diagnostic.SA1414.severity = warning # Tuple types in signatures should have element names
dotnet_diagnostic.SA1505.severity = warning # Opening braces should not be followed by blank line
dotnet_diagnostic.SA1507.severity = warning # Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1508.severity = warning # Closing braces should not be preceded by blank line
dotnet_diagnostic.SA1509.severity = warning # Opening braces should not be preceded by blank line
dotnet_diagnostic.SA1510.severity = warning # Chained statement blocks should not be preceded by blank line
dotnet_diagnostic.SA1511.severity = warning # While-do footer should not be preceded by blank line
dotnet_diagnostic.SA1513.severity = warning # Closing brace should be followed by blank line
dotnet_diagnostic.SA1514.severity = warning # Element documentation header should be preceded by blank line
dotnet_diagnostic.SA1517.severity = warning # Code should not contain blank lines at start of file
dotnet_diagnostic.SA1518.severity = warning # Use line endings correctly at end of file
dotnet_diagnostic.SA1519.severity = warning # Braces should not be omitted from multi-line child statement
dotnet_diagnostic.SA1520.severity = warning # Use braces consistently
