body {
    font-family: 'Roboto', sans-serif;
}

.border-b {
    border-bottom: 1px solid #ccc;
}

.site-logo {
    background: url(images/logo.png) no-repeat;
    width: 183px;
    height: 23px;
    text-indent: -50000px;
}

.hero-main {
    font-family: 'PT Serif', serif;
    font-weight: bold;
    font-size: 41px;
    padding: 0 20px;
    margin: 100px 0 40px;
}

.hero-main .highlight {
    color: #009200;
}

.hero-sub {
    font-size: 1.4em;
    font-weight: 300;
    padding-left: 20px;
}

.editor {
    padding-top: 30px;
    width: 532px;
    height: 612px;
}

.badges {
    padding-left: 18px;
}

.try-now {
    padding-left: 20px;
    margin: 50px 0;
}

.btn-primary {
    background-color:#009200;
    border: 1px solid #009200
}